/* deafault button / larger ver of button used for  */

button {

    width: fit-content;
    height: max-content;
    cursor: pointer;

    border: none;
    border-radius: 15px;
    padding: 18px 50px;

    font-family: 'Lemonmilk';
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--text-sm);
    text-transform: uppercase;
    font-weight: bold;

    align-self: center;


}

button:hover{

    background-color: var(--darker-red);

}


/* Smaller button used for "add to cart", "all product" etc */

.smaller-button {

    font-size: var(--text-sm);
    font-weight: 600;
    padding: 12px 20px 10px;
    background-color: var(--black);

}

/* Even smaller button for mobile resolution */

.xs_button{
    

    font-size: var(--text-xxs);
    font-weight: 500;
    padding: 8px 15px;
    background-color: var(--black);


}

.checkout {

    font-size: var(--text-lg);
    font-weight: 600;
    padding: 17px 60px;

}

.paypal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 58px;
    padding: 17px 60px;
    background-color: #FFC439;
}

.paypal:hover{
    
    background-color: #FFC439;
}

@media(max-width: 770px){

    .content-container > .big-button {
        display: none;
    }

    .content-container > .smaller-button {
        font-size: var(--text-xxs);
        display: block;
    }

    .checkout, .paypal{

        padding: 10px 10px;
        width: 130px;
        height: 38px;
    }

    .checkout{
        font-size: var(--text-sm);
    }

}