/* CSS for section Dividers */

.banner{
    
    display:flex;
    gap: 15px;
    overflow:hidden;
    margin: 0;
    padding:0;
    height:30px;
    justify-content:space-between;
    align-items: center;
}

.banner__text {

    font-weight: bolder;
    padding-top: 4px;
    font-size: larger;
    text-transform:uppercase;

}

.banner--shop{
    background-color:var(--beige);
    color: var(--darker-beige);
}

.banner--card{
    background-color: var(--blue);
    color: var(--darker-blue);
}

.banner--wemoments{

    background-color: var(--red) ;
    color: var(--darker-red);
}
