/* importing css files */
@import url(css/reset.css);  /* Reseting css style */

@import url(typography.css); /* Fonts style, colors, spacing, line height  */

@import url(homepage.css);

@import url(css/button.css);  /* Style for buttons used  */

@import url(css/header-and-footer.css); /* Style for  different Header and footers used */

@import url(css/product.css); /* Style used for product-related elemets & page */

@import url(css/banner.css); /* css style for section divider / banners used  */

@import url(css/cart.css);

@import url(css/order.css);



html{
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-y: scroll;

}

body{

    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 65px;
    justify-content: center;
    text-align: center;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 65px);
   

}

section{

    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

#cart-contents
{
    
    row-gap: 30px;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

}


.icon{
    
    width: 28px;
}

a{

    text-decoration: none;
}



/* Product Banner */

.product_banner {

    flex-direction: column;
}

.product-banner-container{

    display:flex;
    overflow:hidden;
    gap: 15px;
    margin: 20px;
    padding:0;
    height:520px;
    align-items: center;
    justify-content: space-around;
}

.product_banner_subheading{

    display: grid;
    grid-template-rows: 65px 20px;
}


/* Shop all "button" */

.shop__all__button {
    background-color: var(--darker-blue);
    display: flex;
    font-weight: bold;
    color: var(--white);
    width: 180px;
    align-self: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.shop__all__button > p{
    padding-top: 2px;
}
.shop__all__button > img{
    align-self: center;
    height: 25px;
}


/* Product List Page */

.page-header{
    width:800px;
    text-align: left;
}

.page-header > h4{
    padding:40px 0px 0px 10px;
}

.page-header > p{
    padding-left: 10px;
    color: var(--grey);
}

.page-header > .icon_wrapper{
    display: flex;
    width: 800px;
    justify-content: right;
}

.empty--cart{
    display: flex;
}

.empty--cart > h4{
    width: max-content;
}

.empty--cart > p{
    font-size: var(--text-xl);
    height: max-content;
    align-self: flex-end;

}

.empty-cart > div {

    margin: 200px 0px;
}



/* empty card section */

.shop-all{
    display: flex;
    justify-content: space-evenly;
}


hr {
    border: 2px solid var(--black);
    height: 0px;
    margin-left: 20px;
    Width: 700px;
    align-self: center;
  }



/*  Media Query for sections used through all the pages  */

@media(max-width: 770px){
    section{
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .empty--cart > p{
        font-size: var(--text-lg);
        height: max-content;
        align-self: flex-end;
    
    }
}

/*  Media Query for page header ( shopping cart, product list) */

@media(max-width: 800px){
    .page-header{
        width: 350px;
    }
    .page-header > .icon_wrapper{
        width: 350px;
        justify-content: right;
    }   
}

/* Media Query for Navigation Bar  */

@media(max-width: 770px){
    .navcontent{
        justify-content: space-evenly;
        padding-left: 10px;
        padding-right: 3px;
    }
    .logo{
        display: none;
    }
    .smalllogo{
        display: flex;
    }
    .icon_wrapper{
        width: 100px;
    }
    .footercontent{
        padding: 30px 24px;
    }
}

/* Media Query for "Product Banner" used in homepage, shopping cart, product page */

@media(max-width: 770px){
    .product-banner-container{
        overflow: scroll;
        margin-right: 0;
    }
    .main-image{
        position: relative;
        background: url(Images/homepage-image-small.svg) no-repeat center;
        background-size: cover;
        width: 100%;
        max-width: 1400px;
        overflow: hidden;
        align-content: center;
    }
    .content-container{
        grid-template-columns: 160px 110px 110px;
        grid-template-rows: 20px 135px 70px 40px 170px;
        grid-template-areas: 
            "logo logo logo"
            "subtext subtext subtext"
            "heading heading heading"
            "button button button"
            "desc desc desc";
    }
    .content-container > #small-logo {
        grid-area: logo;
        justify-self: center;
        display: block;
    }
    .content-container > .text{
        font-size: var(--text-xxs);
        line-height: 1.5;
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 15px;
    }
    .content-container > .subtext{
        font-size: var(--text-xxs);
    }
}