.product{
    display: grid;
    grid-template-rows: 382px 30px 30px 50px;
    grid-template-columns: 190px 40px;
    grid-template-areas: 
        "picture picture"
        "card_name card_name"
        "card_code card_code"
        "add_to_cart_button heart_icon";
    text-align: left;
    cursor: pointer;
}

.product__image{
    width: 240px; 
    grid-area: picture;
}

.product__title{
    grid-area: card_name;
}

.product__code{
    grid-area: card_code;
    font-size: var(--text-xs);
}

.product > button{
    grid-area: add_to_cart_button;


}

.heart__icon{

    width: 28px;
    align-self: center;
    justify-self: right;
    grid-area: heart_icon;

}

.nonclickable--product {

    opacity: 0.5;
}
.nonclickable--product > button{

    cursor:default;
    background-color: grey;
    
}

.xs_button{
    display: none;
}


/* Product List Page */

.product_list_wrapper{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    width: 800px;

}

/* Product details page  */


.product__image{

    display: flex;
    width: 100%;


}

section.product_description_box{

    background-color: #F9EDDD;
    margin-bottom: 0px;
    padding-bottom: 50px;
    width: 100%;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;

}

.product__description{

    display: flex;
    flex-direction: column;
    padding-top: 80px;

}



@media(max-width: 800px){

    .product_list{
        
        .product_list_wrapper{
            gap: 30px;
        }

        .product_list_wrapper > .product{
            grid-template-rows: 260px 20px 20px 30px;
            grid-template-columns: 140px 20px;
        }

        .product__image{
            width: 165px; 
            justify-self: center;
        }

        .product__title{
            font-size: var(--text-xxs);
        }
        
        .product__code{
            font-size: var(--text-xxxs);
        }

        .heart__icon{
            width: 20px;
            align-self: center;
            justify-self: right;
        }
        .product_list_wrapper > .product_box{
            grid-template-rows: 260px 20px 20px 30px;
            grid-template-columns: 140px 20px;
        }
        
        .smaller-button{
            display: none;
        }
    
    
        .xs_button{
            display: block;
        }


    }

}