html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    padding-top: 65px;
    min-height: 100vh;
    text-align: center;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    background: #F9EDDD;
    display: flex;
    justify-content: center;
    z-index: 9999;
    
}

.navcontent{
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;

}

.icon{
    width: 25px;
}

.logo{
    padding-top: 38px;
    display: flex;
    width: 280px;
    align-items: center;
    justify-self: center;
}

.smalllogo{
    display: none;
    width: 38px;
}


.search{
    display: flex;
    height: 28px;
    max-width: 30%;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.search-input{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 69px;
    color: #333333;
    margin: 10px;
    outline: none;
    border: none;
    background: transparent;
}

.navigation{
    display: flex;
    height: 60px;
    width: 160px;
    justify-content: space-evenly;
}

@media(max-width: 770px){
    .navcontent{
        justify-content: space-evenly;
        padding-left: 10px;
        padding-right: 3px;
    }
    .logo{
        display: none;
    }

    .smalllogo{
        display: flex;
    }

    .navigation{
        width: 110px;
    }
}

/* Back to top & Footer */

section {
    width: 100%;
    height: 400px;
}

footer > section{
    background-color: #F9EDDD;
    padding-bottom: 0;
    margin-bottom: 0;
}

.copyright {
    display:flex;
    padding:0;
    height:50px;
    justify-content:center;
    background-color:black;
}

.copyright > p{
    height:20px ;
    align-self:center;
    color:#FFFFFF;
    margin:0;
    justify-content:center;
}

.Back_To_Top > p {
    height:20px;
    align-self: center;
    padding-top:2px;
    margin:0;
    justify-content: center;
}


.Back_To_Top{

    padding-top:10px;
    padding-bottom:10px;
    justify-content:center;
    height:50px;
    justify-content:center;
}

