
@import url(typography.css);


html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}


body{
    margin: 0;
    padding: 0;
    padding-top: 65px;
    justify-content: center;
    text-align: center;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100%;
   

}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    background: #F9EDDD;
    display: flex;
    justify-content: center;
    z-index: 9999;
    box-shadow: 3px 3px 8px 1px rgba(76, 76, 76, 0.1)
    
}

.navcontent{
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;

}

.icon{
    width: 25px;
}

.menu{
    padding-top: 3px;
}
.logo{
    padding-top: 38px;
    display: flex;
    width: 280px;
    align-items: center;
    justify-self: center;
}

.smalllogo{
    display: none;
    width: 38px;
}


.search{
    display: flex;
    height: 24px;
    max-width: 30%;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.search-input{
    font-size: 16px;
    min-width: 69px;
    color: #333333;
    margin: 10px;
    outline: none;
    border: none;
    background: transparent;
}

.navigation{
    display: flex;
    height: 60px;
    width: 160px;
    justify-content: space-evenly;
}


/* Back to top & Footer */

section {
    width: 100%;
    height: 400px;
}

footer{
    margin-top: auto;
}


footer > section{
    background-color: #F9EDDD;
    padding-bottom: 0;
    margin-bottom: 0;
}

.copyright {
    display:flex;
    padding:0;
    height:30px;
    justify-content:center;
    background-color:black;
}

.copyright > p{
    height:20px ;
    align-self:center;
    color:#FFFFFF;
    margin:0;
    justify-content:center;
}

.Back_To_Top > p {
    height:20px;
    align-self: center;
    padding-top:2px;
    margin:0;
    justify-content: center;
}


.Back_To_Top{

    padding-top:10px;
    padding-bottom:10px;
    justify-content:center;
    height:50px;
    justify-content:center;
}

/* Section divider */

.banner{
    display:flex;
    gap: 15px;
    overflow:hidden;
    margin: 0;
    padding:0;
    height:30px;
    justify-content:space-between;
    align-items: center;
    background-color:#F9EDDD;
}


.banner > span {

    font-weight: bolder;
    font-size: larger;
    text-transform:uppercase;
    color: #EDCCA5;
}

.banner:nth-child(2){
    background-color:#A0CCEF;
}

.banner:nth-child(2) > span{
    color:#64A3E0;
}

.banner:nth-child(4){
    background-color: #F97D84;
}

.banner:nth-child(4) > span{
    color: #F33E45;
}

.order_summary_wrapper{
    display: flex;
    justify-content: center;
}

.order_summary{

    border:2px solid #EBEBEB;
    border-radius: 15px;
    margin-inline: 1.5rem;;
    padding: 32px 20px 20px 20px;
    width: 400px;
    height: 480px;
    justify-self: center;
    font-size: large;
    text-transform: uppercase;

}


.order_summary_content{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 15px 0px
}

.order_summary_content:first-of-type{
    margin-top: 0px;
    font-size: larger;
    font-weight: bolder;
}

.order_summary_content:nth-child(10){
    font-weight: bold;
}


.email_input{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
}

.email_input > div{
    align-self: flex-start;
}

.payment_option{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    row-gap: 15px;
}

.form_header{
    display: flex;
    justify-content: center;
}

.form_header > h1{
    width: 420px;
    text-align: start;
    margin-bottom: 30px;
}

.form_header > .form_icon{
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-top: 50px;
}

.form_icon > img{
    width: 16px;
}

.confirmation_icon > img{
    width: 100px;
}
button{
    margin: 30px;
    width: 180px;
    padding: 10px;
    border-radius: 15px;
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
}

.summary_footer{
    width: 100%;
    height: 80px;;
}


.confirmation_wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
}

.confirmation_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 10px;
    gap: 3px;
    align-self: center;
}

.confirmation_content{

    padding-top: 100px;
    justify-content: center;
    align-items: center;
    
}

.confirmation_content > h1{
    font-size: 2.5em;
    margin: 0;
}

.confirmation_content > p{
    font-size: 1.2em;
}

.copyright_footer{

    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: #FFFFFF;
    justify-content:center;

}

.copyright_footer > p{
    height:20px ;
    align-self:center;
    color:#FFFFFF;
    margin:0;
    justify-content:center;
}


@media(max-width: 770px){
    .navcontent{
        justify-content: space-evenly;
        padding-left: 10px;
        padding-right: 3px;
    }
    .logo{
        display: none;
    }

    .smalllogo{
        display: flex;
    }

    .navigation{
        width: 110px;
    }

    .order_summary{
        min-width: 300px;
        max-height: 450px;
        font-size: small;

    }

    .form_header > .form_icon{
        margin-left: 30px;
        margin-right: 30px;
    }

    .form_header > h1 {
        margin-left: 30px;

    }

}