/* importing css files */

@import url(reset.css);  /* Reseting css style */

@import url(typography.css); /* Fonts style, colors, spacing, line height  */

@import url(button.css);

@import url(header-and-footer.css);

@import url(product.css);

@import url(banner.css);



html{
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-y: scroll;

}

body{

    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 65px;
    justify-content: center;
    text-align: center;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 65px);
   

}

section{

    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

#cart-contents
{
    
    row-gap: 30px;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

}


.icon{
    
    width: 28px;
}

a{

    text-decoration: none;
}


@media(max-width: 770px){

    section{

        margin-top: 25px;
        margin-bottom: 25px;

    }

    

}



.order_summary_wrapper{
    display: flex;
    justify-content: center;
}

.order_summary{

    border:2px solid var(--grey);
    border-radius: 10px;
    margin-inline: 1.5rem;;
    padding: 32px 20px 20px 20px;
    width: 400px;
    height: 480px;
    justify-self: center;
    text-transform: uppercase;

}


.order_summary_content{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 15px 0px
}

.order_summary_content:first-of-type{
    margin-top: 0px;
    font-size: var(--text-lg);
    font-weight: bolder;
}

.order_summary_content:nth-child(10){
    font-weight: bold;
}


.email_input{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
}

.email_input > div{
    align-self: flex-start;
}

.payment_option{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    row-gap: 15px;
}

.form_header{
    display: flex;
    justify-content: center;
}

.form_header > h1{
    width: 420px;
    text-align: start;
    margin-bottom: 30px;
}

.form_header > .form_icon{
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-top: 50px;
}

.form_icon > img{
    width: 16px;
}

.confirmation_icon > img{
    width: 100px;
}

.confirmation_wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
}

.confirmation_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 10px;
    gap: 3px;
    align-self: center;
}

.confirmation_content{

    justify-content: center;
    align-items: center;
    
}


/* Header main image */

.main-image{
    position: relative;
    background: url(Images/homepage-image-large.svg) no-repeat center;
    background-size: cover;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    align-content: center;

}


/* Homepage content */

.content-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 340px 230px 180px;
    grid-template-rows: 50px 120px 90px 250px;
    grid-template-areas: 
        "subtext subtext subtext"
        "heading heading heading"
        "button button button"
        "desc desc desc";
}

.content-container > .subtext{
    grid-area: subtext;
    color: var(--darker-blue);
    align-self:self-end;
}

.content-container > h1{
    grid-area: heading;

}

.content-container > #about_us{
    grid-area: button;
    grid-column-start: 2;
}

.content-container > #blog{
    grid-area: button;
    grid-column-start: 3;
}

.content-container > .text{
    text-align: left;
}

.content-container > #description-text{

    grid-area: desc;
    grid-column-start: 2;

}

.content-container > #small-logo {
    display: none;
}

/* Section 2 Homepage */

.homepage-button-container{

    margin-top: 80px;
    margin-bottom: 80px;
}

.homepage_button{
    
    display: grid;
    grid-template-rows: 160px 160px;
    grid-template-columns: 445px 150px 225px 225px;
    grid-template-areas: 
        "ecard ecard ecard envelope"
        "cake cake_image other other";
    justify-content: center;

}

.homepage_button > div{

    border-radius: 10px;
    display: flex;
    justify-content: center;


}

.e-cards{

    grid-area: ecard;
    width: 550px;
    background-color: var(--blue);
    align-items: center;
    margin-right: 30px;
    justify-self: end;
}


.e-cards-grid{

    display: grid;
    grid-template-columns: 440px;
    grid-template-rows: 80px 50px;
    justify-content: center;
}

.e-cards-grid > h2{

    grid-area: ecard_title;
    grid-column-start: 1;
    grid-row-end: 1;
}

.homepage_button > img{
    height: 160px;
}

.envelope{
    grid-area: envelope;
}

.cake_image{
    grid-area: cake_image;


}

.e-cards-button {

    display: flex;
    justify-content: center;
    grid-area: button;
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    gap: 7px;


}

.e-cards-button > button{

    padding: 12px 30px 10px;
}

.cake , .other{

    align-self: center;
    width: 400px;
    height: 120px;
    align-items: self-end;
}

.cake{

    grid-area: cake;
    background-color:var(--red);
    gap: 30px;
    justify-self: right;

}

.other{

    grid-area: other;
    background-color:var(--beige);
    justify-self: left;

}

.cake > img{
    width: 86px;
    align-self: center;
}


/* Product Banner */

.product_banner {

    flex-direction: column;
}

.product-banner-container{

    display:flex;
    overflow:hidden;
    gap: 15px;
    margin: 20px;
    padding:0;
    height:520px;
    align-items: center;
    justify-content: space-around;
}

.product_banner_subheading{

    display: grid;
    grid-template-rows: 65px 20px;
}

/* Shop all "button" */

.shop__all__button {

    background-color: var(--darker-blue);
    display: flex;
    font-weight: bold;
    color: var(--white);
    width: 180px;
    align-self: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;

}

.shop__all__button > p{
    padding-top: 2px;
}
.shop__all__button > img{
    align-self: center;
    height: 25px;
}

/* Product List Page */

.page-header{

    width:800px;
    text-align: left;

}

.page-header > h4{
    padding:40px 0px 0px 10px;
}

.page-header > p{
    padding-left: 10px;
    color: var(--grey);
}
.page-header > .icon_wrapper{

    width: 800px;
}

.shop-all{

    display: flex;
    align-self: center;

}


/* Shopping Cart Page */

/* .cart-items */

.item__box{

    border: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    padding: 20px;
    width: max-content;
    align-self: center;
}

.item__grid{

    display: grid;
    grid-template-columns: 160px 650px;
    grid-template-rows: 40px 20px 110px 60px;
    grid-template-areas: 
        "";


}

.cart__item__image{

    width: 150px;
}

.cart__item__name{

    grid-column-start: 2;
    grid-row-start: 1;
    text-align: left;
    font-size: var(--text-lg);

}

.cart__item__price{

    grid-column-start:2;
    grid-row-start: 1;
    text-align: right;
    font-size: var(--text-lg);
    

}

.cart__item__code{

    grid-column-start: 2;
    grid-row-start: 2;
    text-align: left;
    font-size: var(--text-xs);


}

.item__grid > button {

    grid-column-start: 2;
    grid-row-start: 4;
    justify-self: right;
}

/* empty cart [0] */

.empty-cart{


    
}


/*  Clear cart   */

.icon_wrapper > p {

    color: var(--darker-red);

}


@media(max-width: 770px){
    
    .navcontent{
        justify-content: space-evenly;
        padding-left: 10px;
        padding-right: 3px;
    }
    .logo{
        display: none;
    }

    .smalllogo{
        display: flex;
    }

    .icon_wrapper{

        width: 100px;
    }

    .footercontent{

        padding: 30px 24px;

    }

}


@media(max-width: 770px){

    .product-banner-container{

        overflow: scroll;
        margin-right: 0;
    }

    .main-image{
        position: relative;
        background: url(Images/homepage-image-small.svg) no-repeat center;
        background-size: cover;
        width: 100%;
        max-width: 1400px;
        overflow: hidden;
        align-content: center;
    
    }

    .content-container{
        grid-template-columns: 160px 110px 110px;
        grid-template-rows: 20px 135px 70px 40px 170px;
        grid-template-areas: 
            "logo logo logo"
            "subtext subtext subtext"
            "heading heading heading"
            "button button button"
            "desc desc desc";
    }

    
    .content-container > #small-logo {
        grid-area: logo;
        justify-self: center;
        display: block;
    }


    .content-container > .text{
        font-size: var(--text-xxs);
        line-height: 1.5;
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 15px;
    }

    .content-container > .subtext{

        font-size: var(--text-xxs);

    }
  

}