:root{

    /* Declaring variables for two main fonts */
    --font-primary:'Lemonmilk';
    --font-secondary:'Narnia';

    /* setting base values */
    --text-base-size: 2rem;

    /* type scale */
 
    /* TYPE SCALE FOR PRIMARY FONT (LEMON MILK) */
    
    --text-scale-ratio: 1.2;
    --text-xxxs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-xxs: calc(1.1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-xs: calc(1.2rem / var(--text-scale-ratio));
    --text-sm: calc(1.3rem / var(--text-scale-ratio));
    --text-rg: calc(1rem * var(--text-scale-ratio));
    --text-lg: calc(1.3rem * var(--text-scale-ratio));

    /* TYPE SCALE FOR SECONDARY FONT (NARNIA) */
    
    --text-xl: calc(1.1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));  
    --text-xxl: calc(3rem * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(4rem * var(--text-scale-ratio) * var(--text-scale-ratio)); 
    --heading-size: calc(5.5rem * var(--text-scale-ratio) * var(--text-scale-ratio)); 

    /* spacing */
    --space-xxxs: 0.25em;
    --space-xxs: 0.375em;
    --space-xs: 0.5em;
    --space-sm: 0.74em;
    --space-md: 1.25em;
    --space-lg: 2em;
    --space-xl: 3.25em;
    --space-xxl: 5.25em;
    --space-xxxl: 8.5em;

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 2;

    text-transform: uppercase;

    /*  Preset Colors */
    
    --dark-yellow: #E79E48;
    --beige: #F9EDDD;
    --darker-beige: #E2B381;
    --red: #F97D84;
    --darker-red: #F33E45;
    --blue:  #A0CCEF;
    --darker-blue: #64A3E0;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #BCBCBC;
}


@font-face {
    font-family: 'Narnia';
    src: url(Fonts/narnia-webfont.woff) format('woff'),
    url(Fonts/narnia-webfont.woff2) format('woff2');
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family:'Lemonmilk';
    src: url(Fonts/lemonmilk-regular-webfont.woff) format('woff'),
    url(Fonts/lemonmilk-regular-webfont.woff2) format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family:'Lemonmilk';
    src: url(Fonts/lemonmilk-bold.woff) format('woff'),
    url(Fonts/lemonmilk-bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
}



body{
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    line-height: var(--body-line-height);
    color: var(--black);

}

h1{
    font-family: var(--font-secondary);
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    color: var(--dark-yellow);
}

h2{
    font-family: var(--font-secondary);
    font-size: var(--text-xxxl);
    line-height: var(--heading-line-height);
    color: var(--white);
}

h3, h4{
    font-family: var(--font-secondary);
    font-size: var(--text-xxl);
    line-height: var(--heading-line-height);
    color: var(--dark-yellow);
}

p, span {
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    
}

.text--xs{
    font-size: var(--text-xs);
}


@media(max-width: 770px){

    h1, h2, h3{
        font-size: var(--text-xxl);
    }

    h4{
        font-size: var(--text-xl);
    }

    p, span {
        font-size: var(--text-xs);
    }


}